
  .alert-divfloat {
    position: fixed !important;
    bottom: 60%;
    right: 20%;
    left: 20%;
    width: auto;
    font-size: 18px;
    border-radius: 15px;
  }

 .cmn-btncircle {
    width: 44px !important;
    height: 48px !important;
    padding: 5px 0px;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
  }

  .cmn-divfloat {
    position: fixed !important;
    bottom: 45px;
    right: 15px;
    display: visible;
  }

  .cmn-divfloat-left {
    position: fixed !important;
    bottom: 45px;
    left: 15px;
    display: visible;
  }

  .cont-center {
    text-align: center;
  }